## Pandas
- FAQ
- Common mistakes 
- Reading documentation + Google Search + Fixing bugs
- Code walkthrough of common operations
- Cheat Sheet
- Exercise problems: https://www.machinelearningplus.com/python/101-pandas-exercises-python/
- We will see many more examples in the next Code-Walkthrough sessions when we use Pandas in other chapters.

Pre-requisites: LIVE Sessions in Python programming + Course videos

In [127]:
# now we will see in pandas from nyc_weather.csv in the same folder
import pandas as pd
df = pd.read_csv("./nyc_weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [2]:
# Common-mistake

# Read the documentation:https://pandas.pydata.org/pandas-docs/version/0.21.1/generated/pandas.read_csv.html
# Load data from Google Drive Link
import pandas as pd
df = pd.read_csv("https://drive.google.com/file/d/1KxwFsL6IF7OD_XN28kjxl0-amnELIhZ8/view?usp=sharing")
df

ParserError: Error tokenizing data. C error: Expected 283 fields in line 131, saw 409

In [24]:
# Q. Raw-strings for filenames.
import pandas as pd
df = pd.read_csv(r'./nyc_weather.csv')


raw_s = r'Hi\nHello'
print(raw_s)

s = 'Hi\nHello'
print(s)

Hi\nHello
Hi
Hello

#### Dealing with file-paths across various OS.
- Refer: https://medium.com/@ageitgey/python-3-quick-tip-the-easy-way-to-deal-with-file-paths-on-windows-mac-and-linux-11a072b58d5f

Windows filenames:
C:\some_folder\some_file.txt

Most other operating systems:
/some_folder/some_file.txt

In [136]:
# Python 3 has pathlib to simplify things
from pathlib import Path

data_folder = Path(".") # Just use forward slashes for all OS.

file_to_open = data_folder / "nyc_weather.csv"
df = pd.read_csv(file_to_open)

In [26]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [5]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [128]:
#Q. what's the difference betn df['EST'] & df[['EST']] 


print(df['EST'])

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
17    1/18/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
21    1/22/2016
22    1/23/2016
23    1/24/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [8]:
print(df[['EST']])

          EST
0    1/1/2016
1    1/2/2016
2    1/3/2016
3    1/4/2016
4    1/5/2016
5    1/6/2016
6    1/7/2016
7    1/8/2016
8    1/9/2016
9   1/10/2016
10  1/11/2016
11  1/12/2016
12  1/13/2016
13  1/14/2016
14  1/15/2016
15  1/16/2016
16  1/17/2016
17  1/18/2016
18  1/19/2016
19  1/20/2016
20  1/21/2016
21  1/22/2016
22  1/23/2016
23  1/24/2016
24  1/25/2016
25  1/26/2016
26  1/27/2016
27  1/28/2016
28  1/29/2016
29  1/30/2016
30  1/31/2016

In [129]:
print(type(df['EST'])) # Series is a vector

print(type(df[['EST']])) # DF is a sequence of series objects, DF:Matrix

#Refer: https://stackoverflow.com/a/26240208
#"So, the Series is the data structure for a single column of a DataFrame, 
# not only conceptually, but literally, i.e. 
# the data in a DataFrame is actually stored in memory as a collection of Series."

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [15]:
print(df[['EST', 'Temperature']])

          EST  Temperature
0    1/1/2016           38
1    1/2/2016           36
2    1/3/2016           40
3    1/4/2016           25
4    1/5/2016           20
5    1/6/2016           33
6    1/7/2016           39
7    1/8/2016           39
8    1/9/2016           44
9   1/10/2016           50
10  1/11/2016           33
11  1/12/2016           35
12  1/13/2016           26
13  1/14/2016           30
14  1/15/2016           43
15  1/16/2016           47
16  1/17/2016           36
17  1/18/2016           25
18  1/19/2016           22
19  1/20/2016           32
20  1/21/2016           31
21  1/22/2016           26
22  1/23/2016           26
23  1/24/2016           28
24  1/25/2016           34
25  1/26/2016           43
26  1/27/2016           41
27  1/28/2016           37
28  1/29/2016           36
29  1/30/2016           34
30  1/31/2016           46

In [16]:
print(df['EST', 'Temperature'])

KeyError: ('EST', 'Temperature')

In [20]:
# loc: label based accessing
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html
df.loc[:, ['EST', 'Temperature']] # list of column names

          EST  Temperature
0    1/1/2016           38
1    1/2/2016           36
2    1/3/2016           40
3    1/4/2016           25
4    1/5/2016           20
5    1/6/2016           33
6    1/7/2016           39
7    1/8/2016           39
8    1/9/2016           44
9   1/10/2016           50
10  1/11/2016           33
11  1/12/2016           35
12  1/13/2016           26
13  1/14/2016           30
14  1/15/2016           43
15  1/16/2016           47
16  1/17/2016           36
17  1/18/2016           25
18  1/19/2016           22
19  1/20/2016           32
20  1/21/2016           31
21  1/22/2016           26
22  1/23/2016           26
23  1/24/2016           28
24  1/25/2016           34
25  1/26/2016           43
26  1/27/2016           41
27  1/28/2016           37
28  1/29/2016           36
29  1/30/2016           34
30  1/31/2016           46

In [21]:
#Q. want to know both the date and temperature, when it was raining

df[df['Events']=='Rain'][['EST','Temperature']] 

# same as
df1 = df[df['Events']=='Rain'] # unneccsarily creating more variables and taking up more space.
df1[['EST','Temperature']]

          EST  Temperature
8    1/9/2016           44
9   1/10/2016           50
15  1/16/2016           47
26  1/27/2016           41

In [132]:
print(df['Events']=='Rain')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
Name: Events, dtype: bool

In [134]:
print(type(df[df['Events']=='Rain']))

<class 'pandas.core.frame.DataFrame'>

In [22]:
# another way suugested by  a student
df[['EST','Temperature']][df['Events']=='Rain']

          EST  Temperature
8    1/9/2016           44
9   1/10/2016           50
15  1/16/2016           47
26  1/27/2016           41

In [27]:
#Q. Why does this not work for me?

df[["EST"]][df[["Events"]]=="Rain"]

    EST
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN
28  NaN
29  NaN
30  NaN

In [152]:
t1 = df[["Events"]]=="Rain"
t2 = df[["EST"]]
print(type(t1))
print(type(t2))

#print(t2[pd.Series(t1)])
print(type(t1.iloc[:,0])) # convert DF to Series [https://stackoverflow.com/questions/33246771/convert-pandas-data-frame-to-series]

print(t2[t1.iloc[:,0]])

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
          EST
8    1/9/2016
9   1/10/2016
15  1/16/2016
26  1/27/2016

In [30]:
# Q. All columns with Events==Rain
df[df['Events'] == 'Rain']

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311

In [41]:
#Q. How does this work?

df['EST'][df.Events == 'Rain'] # indexing using boolean Series

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [45]:
print(df.Events == 'Rain')
print(type(df.Events == 'Rain'))

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30    False
Name: Events, dtype: bool
<class 'pandas.core.series.Series'>

In [46]:
print(type(df['EST']))

<class 'pandas.core.series.Series'>

In [49]:
#Q. What if individual values in a CSV have a comma? [Good boundary case]

#create a DF from list: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

df_test= pd.DataFrame([[11,12,13,14],[21,22,23,24],[31,32,33,34]]) # constructor 
print(df_test)

    0   1   2   3
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [51]:
df_test= pd.DataFrame([[11,12,13,14],[21,22,23,24],[31, 32, 33, 3,400]]) # constructor 
print(df_test)

    0   1   2   3      4
0  11  12  13  14    NaN
1  21  22  23  24    NaN
2  31  32  33   3  400.0

In [52]:
df_test= pd.DataFrame([[11,12,13,14],[21,22,23,24],[31, 32, 33, '3,400']]) # constructor 
print(df_test)

    0   1   2      3
0  11  12  13     14
1  21  22  23     24
2  31  32  33  3,400

In [55]:
print(df_test.iloc[2,3]) # indexed location
print(type(df_test.iloc[2,3]))

3,400
<class 'str'>

In [59]:
#Q. Max temperature day: Alternative solutions

df['EST'][df['Temperature'] == df['Temperature'].max()]

9    1/10/2016
Name: EST, dtype: object

In [63]:
df.EST[df.Temperature == df.Temperature.max()]

9    1/10/2016
Name: EST, dtype: object

In [65]:
# Q. indexing errors
df[2:5]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [160]:
print( df[2:5, 0:2] )

TypeError: '(slice(2, 5, None), slice(0, 2, None))' is an invalid key

In [69]:
df.iloc [2:5, 0:2]

        EST  Temperature
2  1/3/2016           40
3  1/4/2016           25
4  1/5/2016           20

In [72]:
df.iloc[0,0]

'1/1/2016'

In [163]:
# Q. loc & iloc +ve and -ve indexing

df = pd.DataFrame([1,2,3,4,5,6,7,8,9,19], index=[49,48,47,46,45, 1, 4, 5, 3, 6])
df

     0
49   1
48   2
47   3
46   4
45   5
1    6
4    7
5    8
3    9
6   19

In [164]:
print(df.loc[:3])

    0
49  1
48  2
47  3
46  4
45  5
1   6
4   7
5   8
3   9

In [165]:
print(df.loc[:45])

    0
49  1
48  2
47  3
46  4
45  5

In [166]:
print(df.iloc[:45])

     0
49   1
48   2
47   3
46   4
45   5
1    6
4    7
5    8
3    9
6   19

In [78]:
print(df.iloc[:3])

    0
49  1
48  2
47  3

In [167]:
print(df.iloc[:-3])

    0
49  1
48  2
47  3
46  4
45  5
1   6
4   7

In [80]:
print(df.loc[:-3])

KeyError: -3

In [168]:
print(df[2:5][1:3])

    0
46  4
45  5

In [176]:
print(type(df[2:5]))
print(df[2:5])

<class 'pandas.core.frame.DataFrame'>
    0
47  3
46  4
45  5

In [182]:
print(df[2:5].iloc[2])

0    5
Name: 45, dtype: int64

In [184]:
df = pd.DataFrame([1,2,3,4,5,6,7,8,9,19], index=[49,48,47,46,45, -3, 4, 5, 3, 6])
print(df.loc[:-3])

     0
 49  1
 48  2
 47  3
 46  4
 45  5
-3   6

### Cheat-sheet: Google drive link in course videos

### Practice problems: https://www.machinelearningplus.com/python/101-pandas-exercises-python/
- L1, L2 and L3
- For NumPy: https://www.machinelearningplus.com/python/101-numpy-exercises-python/

In [81]:
#Difficulty Level: L1

#Combine ser1 and ser2 to form a dataframe.

import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [83]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)
print(df)
print("***********************************************************")

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25
   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [84]:
#Difficulty Level: L2

#From ser1 remove items present in ser2.


ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [85]:

# Google search: "pandas series set difference" ----> https://medium.com/@rodwan.bakkar/pandas-set-difference-fde7f4381b53

ser1[ ~ ser1.isin(ser2) ] # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html

0    1
1    2
2    3
dtype: int64

In [89]:
#Difficiulty Level: L3

#Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [92]:

# Google "Pandas regex" ---> https://kanoki.org/2019/11/12/how-to-use-regex-in-pandas/

import re

emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [103]:
# Difficiulty Level: L3

# Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

ser = pd.Series([2, 10, 5, 4, 9, 10, 2, 7, 3])
# can apply the same logic we used earlier on NumPy arrays and lists earlier using loops
# I perfer easy to read code if the time-complexity doesnot change much.

In [104]:
# https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.diff.html
# array-like: series also works
np.diff(ser)

array([ 8, -5, -1,  5,  1, -8,  5, -4])

In [105]:
np.sign(np.diff(ser))

array([ 1, -1, -1,  1,  1, -1,  1, -1])

In [106]:
np.diff(np.sign(np.diff(ser)))

array([-2,  0,  2,  0, -2,  2, -2])

In [101]:
peak_locs = np.where(dd == -2)[0] + 1

In [102]:
print(peak_locs)

[1 5 7]

In [117]:
# Difficulty Level: L2

#From ser, keep the top 2 most frequent 
#items as it is and replace everything else as ‘Other’.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

0     3
1     3
2     2
3     1
4     2
5     4
6     4
7     4
8     4
9     2
10    1
11    1
dtype: int64

In [118]:
print(ser.value_counts())
print(type(ser.value_counts()))

4    4
2    3
1    3
3    2
dtype: int64
<class 'pandas.core.series.Series'>

In [122]:
print(ser.value_counts().index) 
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.index.html

Int64Index([4, 2, 1, 3], dtype='int64')

In [124]:
print(ser.value_counts().index[:2])

Int64Index([4, 2], dtype='int64')

In [125]:
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

In [126]:
print(ser)

0     Other
1     Other
2         2
3     Other
4         2
5         4
6         4
7         4
8         4
9         2
10    Other
11    Other
dtype: object

#### Next Session: EDA [Seaborn]

#### We are planning to do one or more sessions on every chapter/concept in our course with focus on code-walkthroughs + code-FAQ + common-coding mistakes.

#### We will add all these sessions to the course stucture in appropriate places so that you can revisit them whenever you want.